# ADD THIS TO systemd/user/timers.target.wants && Remove the comment
[Unit]
Description=Run wallpaper switcher hourly

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
